<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>JEA</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="menu">
		<ul>
		
		<li class="current_page_item"><a href="usuarios.html">          Usuarios          </a></li>
			<li><a href="articulos.html">          Articulos          </a></li>
			<li><a href="categorias.html">          Categorias          </a></li>
			<li><a href="registrarse.html">          Registrarse          </a></li>

		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
		--	<h1><a href="#">JEA</a></h1>			
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
					<h2 class="title"><a href="categorias.html">Categorias --- Consolas</a></h2>
				<p class="meta"><span class="date">Noviembre 30, 2015</span><span class="posted">
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">	

	
				
					
					<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
				</div>
			</div>
			
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
					<form method="get" action="#">
						<div>
							<input type="text" name="s" id="search-text" value="" />
							<input type="submit" id="search-submit" value="GO" />
						</div>
					</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>Nuevos</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
				<br></br>
				
				
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p><a href="http://www.facebook/ejmb.acmilan.com/">JEA</a>.</p>
	</div>
	<!-- end #footer -->
</body>
</html>